@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding: 30px;
  background-color: #d6e2f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

.card {
  width: 280px;
  height: 470px;
  font-family: 'Outfit', sans-serif;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  text-align: center; }
  .card img {
    width: 100%;
    border-radius: 10px; }
  .card h3 {
    padding: 0px 5px;
    font-size: 1.4rem; }
  .card p {
    font-size: 15px;
    padding: 0px 10px;
    color: #7b879d; }
